html {
  font-size: 10px;
}
body * {
  box-sizing: border-box;
}
body {
  background-color: #25282a;
  color: #d1cece;
}
.container {
  width: 80%;
  margin: 0 auto;
}
input[type='radio'] {
  display: none;
}
.slides {
  width: 100%;
}

.slides .slide {
  width: 100%;
  padding-top: 60%;
  border-radius: 2rem;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}
#slide-1 {
  background: url('./assets/img/meme-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#slide-2 {
  background: url('./assets/img/meme-2.jpg');
  background-size: cover;
}

#slide-3 {
  background: url('./assets/img/meme-3.jpg');
  background-size: cover;
}
#slide-4 {
  background: url('./assets/img/meme-4.jpg');
  background-size: cover;
}

.slider #slider-radio-1:checked ~ .slides #slide-1,
.slider #slider-radio-2:checked ~ .slides #slide-2,
.slider #slider-radio-3:checked ~ .slides #slide-3,
.slider #slider-radio-4:checked ~ .slides #slide-4 {
  display: block;
}

.bullets {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bullets .slider-bullet .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
.bullets .slider-bullet .dot-inner {
  display: block;
  border: 3px solid #71abff;
  background-color: #71abff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.bullets .slider-bullet:hover .dot-inner {
  background: white;
  border: white;
}

.bullets .slider-bullet .dot:active .dot-inner {
  background: #b1afaf;
  border: white;
}

.slider #slider-radio-1:checked ~ .bullets #slider-bullet-1 .dot-inner,
.slider #slider-radio-2:checked ~ .bullets #slider-bullet-2 .dot-inner,
.slider #slider-radio-3:checked ~ .bullets #slider-bullet-3 .dot-inner,
.slider #slider-radio-4:checked ~ .bullets #slider-bullet-4 .dot-inner {
  background: transparent;
}

.slider #slider-radio-1:checked ~ .bullets #slider-bullet-1:hover .dot-inner,
.slider #slider-radio-2:checked ~ .bullets #slider-bullet-2:hover .dot-inner,
.slider #slider-radio-3:checked ~ .bullets #slider-bullet-3:hover .dot-inner,
.slider #slider-radio-4:checked ~ .bullets #slider-bullet-4:hover .dot-inner {
  border: 3px solid white;
}

.slider
  #slider-radio-1:checked
  ~ .bullets
  #slider-bullet-1
  .dot:active
  .dot-inner,
.slider
  #slider-radio-2:checked
  ~ .bullets
  #slider-bullet-2
  .dot:active
  .dot-inner,
.slider
  #slider-radio-3:checked
  ~ .bullets
  #slider-bullet-3
  .dot:active
  .dot-inner,
.slider
  #slider-radio-4:checked
  ~ .bullets
  #slider-bullet-4
  .dot:active
  .dot-inner {
  border: 3px solid #b1afaf;
}

.captions {
  font-size: 50px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 70%;
  }
}
